{% extends 'layout.html.twig' %}

{% block title %}
    Prihlásenie
{% endblock %}

{% block headscripts %}
    <link rel="stylesheet" href="/css/general.css">
{% endblock %}

{% block content %}
    <main id="content" class="uk-container uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-text-danger uk-text-large">Nemáte prístup k tejto stránke!</p>
    </main>
{% endblock %}