#profile-card {
    margin: 15px auto;
    max-width: 650px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#profile-photo > img {
    max-width: 150px;
    margin-top: 15px;
}

#profile-info {
    padding: 0 15px 15px 15px;
    background-color: white;
    border: 1px solid #c3c2c2;
    margin-top: 15px;
}

a[href^="tel"]:before {
    content: '+420 ';
}