{% extends "layout.html.twig" %}

{% block title %}
    Prehľad zamestnancov
{% endblock %}

{% block headscripts %}
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/search.css">
{% endblock %}

{% block content %}
    <main id="content">

        <form id="searchform" class="uk-search uk-search-default uk-width-large" action="{{ path('listaction') }}">
            <input type="search" class="uk-search-input" name="name" placeholder="Zadajte meno zamestnanca">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
        </form>

        {% block results %}
        {% endblock %}
    </main>

{% endblock %}