{% extends "layout.html.twig" %}

{% block title %}
    Prehľad zamestnancov
{% endblock %}

{% block headscripts %}
    <link rel="stylesheet" href="../fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/search.css">
{% endblock %}

{% block content %}
    <header>
        <h1>Prehľad zamestnancov</h1>
    </header>

    <main id="content">
        <form id="searchform" action="{{ path('listaction') }}">
            <input type="search" id="search" name="name" placeholder="Zadajte meno">
            <button type="submit">Hľadať</button>
        </form>

        {% block table %}
        {% endblock %}
    </main>

{% endblock %}