<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- UI Kit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

    {% block headscripts %}
    {% endblock %}
</head>
<body>

<header>
    <nav class="uk-container uk-navbar">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/" >Evidencia zamestnancov</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">
                <li>
                    <!-- todo change the ID to the logged in user -->
                    <a class="uk-text-large" href="/accounts/?employee=1">Účty</a>
                </li>
                <li>
                    <a class="uk-text-large" href="">Funkcie</a>
                </li>
            </ul>
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
        </div>
    </nav>
</header>

<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li>
                <a class="uk-text-large" href="">Účty</a>
            </li>
            <li>
                <a class="uk-text-large" href="">Funkcie</a>
            </li>
        </ul>
    </div>
</div>

{% block content %}

{% endblock %}
</body>
</html>